*.sw[po]
tags
testdir
td
.yardoc
datatest
obsolete
hide*
/work
*tmpbck
/src/remove
/old-remove
/src/vimtips
/doc/tips
/alt-tmp
/oldspeclib
.byebug*
.vimrc
/doc/*.html
/doc/*.pdf
/doc/*.png
/doc/*/*
/src/doc/
/lib/
/log/
/bin/
doc/git-fix
doc/notes*
prototyping/
.env.*
test/.env
src/util/external-date-examples
test/config
test/data
test/user
test/attachments
.set-test-config
/tools/
Gemfile.lock
scripts/.notes
